<h1 class="text-2xl font-bold mb-4 ">Blog Posts</h1>

<% @blog_posts.each do |blog_post|%>

<div class="blog-post">
  <% if blog_post.draft? %>
    <div class="rounded bg-gray-100 text-gray-900 px-3 py-1 text-sm inline-block">Draft</div>
  <% elsif blog_post.scheduled? %>
    <div class="rounded bg-gray-200 text-gray-700 px-3 py-1 text-sm inline-block">Scheduled</div>
  <% elsif blog_post.published? %>
    <div class="rounded bg-green-100 text-green-700 px-3 py-1 text-sm inline-block">Published</div>
  <% end %>

<h2><%= link_to blog_post.title, blog_post_path(blog_post)%></h2>
<p><%=blog_post.body%></p>
</div>
<%end%>